@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
html,
body {
  font-family: "Poppins", sans-serif;
}
.ci2 {
  position: relative;
}
.ci2::after {
  content: "";
  position: absolute;
  z-index: 9;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
}
.z10 {
  z-index: 10;
}
.py-10 {
  padding: 100px 0;
}
.eoa:hover a {
  padding-right: 15px !important;
  transition: padding-right 0.3s ease-in;
}
@media (max-width: 767px) {
  .carousel-item img {
    height: 42vh;
    object-fit: cover;
  }
  .carousel-caption h5 {
    font-size: 22px !important;
  }
  .carousel-caption p {
    font-size: 12px !important;
  }
  .album_title {
    font-size: 19px !important;
  }
  .album_txt {
    font-size: 14px;
  }

  .card {
    width: 332px;
  }
}
.album {
  position: relative;
}
.toast {
  width: auto;
  position: absolute;
  right: 0;
  top: 10px;
  border-left: 6px solid #3f87f5;
  border-radius: 0;
}
.card {
  border: none;
  text-align: left;
  border-radius: 20px;
  padding: 15px 0;
  margin-bottom: 20px;
  background: #ffffff;
  box-shadow: 20px 20px 80px #f0f0f0, -20px -20px 80px #ffffff;
  z-index: 10;
}
.card-title h4 {
  font-size: 36px;
  color: #231d4f;
  font-weight: 700;
}
.card-title h5 {
  font-size: 28px;
  color: #231d4f;
  font-weight: 700;
}
.card-text ul {
  padding-left: 0;
}
.card-text li {
  list-style-type: none;
  margin-bottom: 5px;
}
.card-link {
  background: #f496d23d;
  color: #3f87f5;
}
.card:hover {
  background-color: #3f87f5;
  color: #ffffff !important;
  box-shadow: 0px 15px 35px #3f87f580;
  z-index: 11;
}
.card:hover .card-title > h4,
.card:hover .card-title > h5 {
  color: #ffffff !important;
}
.card:hover .card-link {
  background: #ffffff;
}
.card:hover svg {
  fill: #ffffff !important;
  margin-right: 5px;
}
